<html>

<head>
    <title>lab test Login Page</title>

</head>

<body>
    <form method="POST" action="" enctype="">




        <pre>
           <center><h2> Login</h2></center> 
                Username: <input type="text" name="email" id="Username" value="" placeholder="Enter a valid email" /> <br>
                Password: <input type="password" name="password" id="Password" value="" placeholder="Enter a valid password" /> <br>
                <input type="submit" name="submit" value="Login" />       <a href="forgetpassword.php"target="_blank">Forget Password?</a><br>  
                <a href="registration.html"target="_blank">Don't have account? Signup</a><br>
                </pre>


    </form>

</body>

</html>